<!DOCTYPE html>
<html>
  </h1>Today</h1>

    <% day = Date.today.strftime('%A') %>
    <% month = Date.today.strftime('%B') %>
    <% date = Date.today.strftime('%e') %>
    <% year = Date.today.strftime('%Y') %>

<p><%= "The date is #{day}, #{month} #{date}, #{year}" %></p>
</html>